<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>川庆钻探微信企业号发送平台</title>

    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
	  <link href="{{ url_for('static',filename='css/ccde.wx.push.css') }}" rel="stylesheet">
  </head>

  <body role="document">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <img class="navbar-brand" src="{{ url_for('static',filename='img/cnpc_logo.png') }}">
          <a class="navbar-brand title" href="#">川庆钻探微信企业号发送平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li class=""><a href="/app_list">应用列表</a></li>
                    <li class="active dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">日志列表<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        {% for item in data.app %}
                        <li><a href="/log_list/{{ item.app_id }}">{{ item.app_name }}</a></li>
                        {% endfor %}
                        {% if session['is_admin'] == True %}
                        <li role="separator" class="divider"></li>
                        <li><a href="/log_list">所有日志</a></li>
                        {% endif %}
                      </ul>
                    </li>
                  </ul>
                  <ul class="nav navbar-nav  navbar-right">
                    <li><a href="#">你好，
                        {% if session['is_admin'] == True %}
                          {{ session['admin_name'] }}
                        {% else %}
                          {{ session['app_name'] }}管理员
                        {% endif %}
                    </a></li>
                    <li><a href="/logout">注销</a></li>
                  </ul>
                </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container main" role="main">
        <div class="col-md-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>日志编号</th>
                <th>推送人员</th>
                <th>推送部门</th>
                <th>推送标签</th>
                <th>推送内容</th>
				        <th>返回结果</th>
                <th>推送时间</th>
                <th>是否成功</th>
                <th>应用ID:名字</th>
              </tr>
            </thead>
            <tbody>
              {% for item in data.log %}
              <tr>
                <td>{{ item.log_id }}</td>
                <td>{{ item.log_push_touser }}</td>
                <td>{{ item.log_push_toparty }}</td>
                <td>{{ item.log_push_totag }}</td>
                <td>{{ item.log_push_text }}</td>
                <td>{{ item.log_push_ret }}</td>
                <td>{{ item.log_push_time }}</td>
                <td>
                  {% if item.log_push_success_status  == 1  %}
                  <span class="label label-success">成功</span>
                  {% else %}
                  <span class="label label-danger">失败</span>
                  {% endif %}
                </td>
                <td>{{ item.app_id }} : {{ item.app_name }}</td>
                <td></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/wx.push.js') }}"></script>
  </body>
</html>
